<div id="<%= dom_id shipment %>">
  <p>
    <strong>User:</strong>
    <%= shipment.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= shipment.name %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= shipment.company_name %>
  </p>

  <p>
    <strong>Reference number:</strong>
    <%= shipment.reference_number %>
  </p>

</div>
